{{ if site.Data.homepage.gallery.enable }}
{{ with site.Data.homepage.gallery }}
<section id="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
					<div class="title">
						<h3>{{ .title | markdownify }}</h3>
					</div>
					<div class="gallery-slider">
						{{ range .images }}
						<a href="{{ . | absURL }}" class="venobox" data-gall="sliderGallery"><img class="img-responsive"
								src="{{ . | absURL }}" alt=""></a>
						{{ end }}
					</div>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
	<div class="hero-business-hours">
  <h4>Business Hours</h4>
  <p>
    Monday: 7:00 AM – 4:00 PM<br>
    Tuesday: 7:00 AM – 4:00 PM<br>
    Wednesday: 7:00 AM – 4:00 PM<br>
    Thursday: 7:00 AM – 4:00 PM<br>
    Friday: 7:00 AM – 4:00 PM<br>
    Saturday: 8:00 AM – 12:00 PM<br>
    Sunday: Closed
  </p>
</div>
</section><!-- slider close -->
{{end}}
{{end}}